<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/rent.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Vintage Cruisers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- header -->

    <header id="header-background">

        <img src="/images/LOGO.png" alt="Vintage Cruisers Logo" class="logo">
        <div id="header-buttons">
            <a href="/home">Home</a>
            <a href="/gallery">Gallery</a>
            <a href="/login">Login</a>
        </div>
    </header>

    {{{ body }}}


</body>

</html>