<body>
    <div id="carousel">
        <div class="carousel-content"><img src="../public/images/1941_Ford_Model18.png" alt="Ford_Model_18" </div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div class="carousel-content"></div>
            <div id="carousel-nav">

            </div>


        </div>
</body>