<link rel="stylesheet" href="../css/style.css">
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>

<body>
    <div class="row">
        <div class="column-one">
            <div id="imageWrapper"><img id="carImage" src="/images/{{cars.image}}.jpg"></div>
            <input id="datepicker" />
            <button id ='setDates'> Set Dates!</button>
            


        </div>

    <div class="column-two">
        <h3>{{cars.title}}</h3>
        <h4>{{cars.description}}</h4>
        <h4 id="note">Please Note: Check out time is 2PM, Check in time is 11AM</h4>
        <h3 id="price">Price per Day ${{cars.price}}</h3>
        <h4 id="totalPrice"><br></h4>
        <button id="book"> Reserve Now!</button>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2>Reservation Confirmation</h2>
                <p>Details of your reservation have been sent, thank you for choosing our car rental service!
                </p>
            </div>
        </div>
    </div>

    <script src="../js/rent.js"></script>