<h3>Sign up</h3>

<form class="form signup-form">

  <div class="form-group">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>

  <div class="form-group">
    <label for="name-signup">name:</label>
    <input class="form-input" type="" id="name-signup" />
  </div>

  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="" id="password-signup" />
  </div>

  <div class="form-group">
    <label for="phone-signup">phone:</label>
    <input class="form-input" type="" id="phone-signup" />
  </div>

</form>

<script src="/Mind-Hacks/public/js/singup.js"></script>
<script src="js/test.js"></script>