flexbox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    float: right;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: flex-start; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 2%;
    text-align: right;
    background: rgb(7, 7, 7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one {
    height: 100px;
    width: 200px;
    border-radius: 100px/50px
}

#header-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

button,
a {
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

button:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
}