.projects {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    float: right;
}

html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: flex-start; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 2%;
    text-align: right;
    background: rgb(7, 7, 7);
    color: rgb(227, 224, 224);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    height: 110px;
    width: 220px;
    border-radius: 110px/55px
}

#header-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

a,
button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgb(227, 224, 224);
    margin: 5px;
    text-decoration: none;
}

a:hover,
button:hover {
    color: rgb(227, 224, 224);
    background-color: black;
    border: 2px solid white;
}

h2 {
    /* bold text; */
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
}

h3 {
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
}

#carImage {
    height: 60%;
    width: 60%;
    text-align: center;
}

#imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-one {
    float: left;
    width: 35%;
    padding: 10px;
    margin: 2%;
    box-sizing: border-box;
}

.column-two {
    float: left;
    width: 57%;
    padding: 10px;
    margin: 2%;
    box-sizing: border-box;
    align-content: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.mbsc-ios.mbsc-page {
    background: rgb(227, 224, 224)
}

#note {
    color: blue;
    padding: 10px;
}